@section PageStyle 
{
    <style>
        TABLE {
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 2px solid black;
        }
    </style>
}


@using ListDirections.Models
@model MainProcess[]

<h3> LIST OF PROCESES </h3>

<table>
    <tr style=" background-color:chartreuse">
        <td> <p> Name of  </p></td>
        <td><p> Status of process </p></td>
        <td><p> Work with process </p></td>
        <td><p> Schedule of process </p> </td>
        <td><p> Current step </p> </td>
    </tr>
   
    
    @foreach (MainProcess p in Model)
    {
        <tr>
            <td>
                @p.Name
            </td>
            <td>
                
                <p  style=" background-color:chartreuse ">  @p.CurrentStateName </p>
                @if (@p.CurrentStateName == ProcState.Fail)
                {
                    <p style=" background-color:red "> Error Message </p>
                    <p style=" background-color:red "> @p.Current_State.First().ErrorMessage </p>
                }
                                
            </td>
            <td>                
                    @if (@p.CurrentStateName == ProcState.HaveToRun )
                    {
                        <p> <input type="button" name="start_@p.ID" value=" start" onclick="Start_Function(@p.ID)"> </p>
                        <p id="demo"> </p>
                    }

                    else if ((@p.CurrentStep == null && p.CurrentStateName == ProcState.Running) ||
                            (@p.CurrentStep == null && p.CurrentStateName == ProcState.Fail))
                    {
                        <p> <input type="button" name="execute_script_@p.ID" value="execute script"> </p> 
                    }
                    else
                    {
                        <p><input type="button" name="continue_@p.ID" value="continue"></p>
                    }

            </td>      
            <td>
                <p>@p.Name will start to  @p.PlanDate </p> 
                @if(@p.CurrentStateName != ProcState.HaveToRun)
                {
                    <p> Last run time @p.Current_State.First(h => h.EventID == 0).TimeStart </p>
                }
            </td>
            <td>
                @if (@p.CurrentStep != null)
                {
                <p> Current step @p.CurrentStep.StepOrder</p>
                }
            </td>     
        </tr>
    }
</table>

<h2> @ViewBag.Permission </h2>
  <script>
      function Start_Function(id) {
          document.getElementById("demo").innerHTML = "putin Huilo"+id
        $.get("/Home/StartProcess/"+id)
      }
  </script> 
